body {
    background: url(../images/parks-and-recreation-wallpapers-31634-6614805.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.jumbotron {
    background-color: lightgreen
}
.answer:hover {
    cursor: pointer;
}